

.divider{
    margin: 10px 0;
}

.divider{
    position: relative;
    
    .err_icons{
        background-position: -402px -353px !important;
    }

    .icons{
        background-size: 440px 411px !important;
        background-repeat: no-repeat;
        transition: .5s;
        width: 22px;
        height: 22px;
        position: absolute;
        right: 15%;
        top: 20%;
    }
}

.AuthSubmit{
    width: 70%;
    padding: 7px 16px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}